<div class="dashboard-container">

    <app-left-menu></app-left-menu>

    <div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
			
			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Edit my Job</h3>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Dashboard</a></li>
						<li>Edit my Job</li>
					</ul>
				</nav>
			</div>
	
			<!-- Row -->
			<div class="row">
                <form #f="ngForm" (ngSubmit)="update_form(f)"  >
				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">

						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-feather-folder-plus"></i> Job Submission Form</h3>
						</div>

						<div class="content with-padding padding-bottom-10">
							<div class="row">

								<div class="col-xl-4">
									<div class="submit-field">
										<h5>Company Name <span class="text-danger">*</span> </h5>
										<input type="text"  name="company_name" #company_name="ngModel"  value="{{formdata?.companyName}}" ngModel class="with-border" required="required" *ngIf="formdata" [(ngModel)]="formdata.companyName">
										<div *ngIf="f.submitted" class="text-danger">
											Company Name  is required.
										</div>
									</div>
								</div>

								<div class="col-xl-4">
									<div class="submit-field">
										<h5>Job Title <span class="text-danger">*</span> </h5>
										<input type="text"  name="title" #title="ngModel"  value="{{formdata?.title}}"  ngModel  class="with-border" required="required" *ngIf="formdata" [(ngModel)]="formdata.title">
										<div *ngIf="f.submitted" class="text-danger">
											Job Title  is required.
										</div>
									</div>
								</div>

								<div class="col-xl-4">
									<div class="submit-field">
										<h5>Job Type <span class="text-danger">*</span> </h5>
										<select class="with-border" name="type" #type="ngModel"  ngModel data-size="7" title="Select Job Type" required="required" *ngIf="formdata" [(ngModel)]="formdata.type">
											<option [selected]="formdata?.type == 'Full Time'">Full Time</option>
											<option [selected]="formdata?.type == 'Freelance'">Freelance</option>
											<option [selected]="formdata?.type== 'Part Time'">Part Time</option>
											<option [selected]="formdata?.type == 'Internship'">Internship</option>
											<option [selected]="formdata?.type == 'Temporary'">Temporary</option>
										</select>
										<div *ngIf="f.submitted " class="text-danger" >
											Job Type  is required.
										</div>
									</div>
								</div>

								<div class="col-xl-4">
									<div class="submit-field">
										<h5>Job Category <span class="text-danger">*</span> </h5>
										<select class="with-border" name="category" #category="ngModel"  ngModel data-size="7" required="required" title="Select Category"  *ngIf="formdata" [(ngModel)]="formdata.category">
											<option [selected]="formdata?.category == 'Accounting and Finance'"  >Accounting and Finance</option>
											<option [selected]="formdata?.category == 'Clerical & Data Entry'">Clerical & Data Entry</option>
											<option [selected]="formdata?.category == 'Counseling'">Counseling</option>
											<option [selected]="formdata?.category == 'Court Administration'">Court Administration</option>
											<option [selected]="formdata?.category == 'Human Resources'">Human Resources</option>
											<option [selected]="formdata?.category == 'Investigative'">Investigative</option>
											<option [selected]="formdata?.category == 'IT and Computers'">IT and Computers</option>
											<option [selected]="formdata?.category == 'Law Enforcement'">Law Enforcement</option>
											<option [selected]="formdata?.category == 'net start vmcompute'">Management</option>
											<option [selected]="formdata?.category == 'Miscellaneous'">Miscellaneous</option>
											<option>Public Relations</option>
										</select>
										<div *ngIf="f.submitted" class="text-danger">
											Job Category  is required.
										</div>
									</div>
								</div>

								<div class="col-xl-4">
									<div class="submit-field">
										<h5>Expiration Date <span class="text-danger">*</span> </h5>
										<input type="date"  name="expiration_date" #expiration_date="ngModel" value="{{Date_format(formdata?.expirationDate)}}" required="required" *ngIf="formdata" [(ngModel)]="expirationDate" ngModel class="with-border">
										<div *ngIf="f.submitted" class="text-danger">
											Expiration Date is required.
										</div>
									</div>
								</div>

								<div class="col-xl-4">
									<div class="submit-field">
										<h5>Job Hours <span class="text-danger">*</span> </h5>
										<input type="number"  name="job_hours" #job_hours="ngModel" ngModel   value="{{formdata?.jobHours}}" class="with-border" required="required"  *ngIf="formdata" [(ngModel)]="formdata.jobHours">
										<div *ngIf="f.submitted" class="text-danger">
											Job Hours is required.
										</div>
									</div>
								</div>

								<div class="col-xl-4">
									<div class="submit-field">
										<h5>Location <span class="text-danger">*</span> </h5>
										<div class="input-with-icon">
											<div id="autocomplete-container">
												<input id="autocomplete-input" name="location" #location="ngModel" value="{{formdata?.location}}" ngModel value="{{formdata?.location}}"class="with-border" type="text" required="required" *ngIf="formdata" [(ngModel)]="formdata.location" placeholder="Type Address">
											</div>
											<i class="icon-material-outline-location-on"></i>
										</div>
										<div *ngIf="f.submitted" class="text-danger">
											Location is required.
										</div>
									</div>
								</div>

								<div class="col-xl-4">
									<div class="submit-field">
										<h5>Salary <span class="text-danger">*</span> </h5>
											<div class="input-with-icon">
												<input class="with-border" name="salary" #salary="ngModel" value="{{formdata?.salary}}" ngModel type="text" placeholder="Salary" required="required" ngModel value="{{formdata?.location}}"class="with-border" type="text" required="required" *ngIf="formdata" [(ngModel)]="formdata.salary">
												<i class="currency">TND</i>
											</div>
											<div *ngIf="f.submitted" class="text-danger">
												Salary is required.
											</div>
									</div>
								</div>

								<div class="col-xl-12">
									<div class="submit-field">
										<h5>Company Logo</h5>
										<input type="file" name="company_logo" #company_logo="ngModel"  value="{{formdata?.companyLogo}}" ngModel placeholder="Company Logo">
									</div>
								</div>

								<div class="col-xl-12">
									<div class="submit-field">
										<h5>Job Description <span class="text-danger">*</span> </h5>
										<textarea cols="30" required="required" rows="5" name="description" #description="ngModel" ngModel value="{{formdata?.description}}" class="with-border" *ngIf="formdata" [(ngModel)]="formdata.description">{{formdata?.description}}</textarea>
										<div *ngIf="f.submitted && formdata.description == '' " class="text-danger">
											Job Description is required.
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-12">
					<button type="submit" class="button ripple-effect big margin-top-30"><i class="icon-feather-plus"></i> Update Job</button>
				</div>
            </form>
			</div>
			<!-- Row / End -->

			<!-- Footer -->
			<div class="dashboard-footer-spacer"></div>
			<div class="small-footer margin-top-15">
				<div class="small-footer-copyrights">
					© 2019 <strong>Hireo</strong>. All Rights Reserved.
				</div>
				<ul class="footer-social-links">
					<li>
						<a href="#" title="Facebook" data-tippy-placement="top">
							<i class="icon-brand-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Twitter" data-tippy-placement="top">
							<i class="icon-brand-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Google Plus" data-tippy-placement="top">
							<i class="icon-brand-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a href="#" title="LinkedIn" data-tippy-placement="top">
							<i class="icon-brand-linkedin-in"></i>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<!-- Footer / End -->

		</div>
	</div>


</div>