<div class="clearfix"></div>
<!-- Header Container / End -->

<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
				</nav>
			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">

			<div class="login-register-page">
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3 style="font-size: 26px;">Let's create your account!</h3>
					<span>Already have an account? <a [routerLink]="['/login']">Log In!</a></span>
				</div>

				<!-- Account Type -->
				
					
				<!-- Form -->
				<form #f="ngForm" (ngSubmit)="register(f)"  id="register-account-form">
					<div class="account-type">
						<div>
							<input type="radio" name="account-type-radio" id="freelancer-radio" (click)="Candidate()"  class="account-type-radio" checked/>
							<label for="freelancer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Candidate </label>
						</div>
	
						<div>
							<input type="radio" name="account-type-radio"   id="employer-radio" (click)="Recruiter()" class="account-type-radio"/>
							<label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Recruiter </label>
						</div>
					</div>

                    <div class="input-with-icon-left">
						<i class="icon-material-outline-account-circle"></i>
						<input type="text" class="input-text with-border" name="firstname" id="firstname-register"  #firstname="ngModel" ngModel placeholder="First Name" required/>
						<div *ngIf="f.submitted && firstname.invalid" class="text-danger">
							First Name is required.
						</div>
					</div>

					<div class="input-with-icon-left">
						
						<i class="icon-material-outline-account-circle"></i>
						<input type="text" class="input-text with-border" name="lastname" id="lastname-register" #lastname="ngModel" ngModel placeholder="Last Name" required/>
						<div *ngIf="f.submitted && lastname.invalid" class="text-danger">
							Last Name is required.
						</div>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" name="email" id="emailaddress-register" #email="ngModel" ngModel placeholder="Email Address" required/>
						<div *ngIf="f.submitted && email.invalid" class="text-danger">
							Email is required.
						</div>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-feather-phone-call"></i>
						<input type="text" class="input-text with-border" name="phonenumber" id="phonrenombre-register" #phonenumber="ngModel" ngModel placeholder="Phone Number" required/>
						<div *ngIf="f.submitted && phonenumber.invalid" class="text-danger">
							Phone Number is required.
						</div>
					</div>

					<div class="input-with-icon-left" title="Should be at least 8 characters long" data-tippy-placement="bottom">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" name="password" id="password-register" #password="ngModel" ngModel placeholder="Password" required="required"/>
						<div *ngIf="f.submitted && password.invalid" class="text-danger">
							Password is required.
						</div>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" name="password_repeat" id="password-repeat-register"  #passwordRepeat="ngModel" ngModel placeholder="Repeat Password" required/>
						<div *ngIf="f.submitted && password.invalid" class="text-danger">
							Confirm Password is required.
						</div>
					</div>
				
					<div *ngIf="password.value !== passwordRepeat.value" class="text-danger">
						<div class="notification error closeable">
							<p>Passwords do not match.</p>
						</div>
					</div>
					
					<button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" form="register-account-form">Register <i class="icon-material-outline-arrow-right-alt"></i></button>

				</form>
				
				<!-- Button -->
				
				<!-- Social Login -->
				
				<div class="social-login-buttons">
				
				</div>
			</div>

		</div>
	</div>
</div>


<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->